h1 {
    font-size: 35px;
    text-align: center;
    font-style: italic;
    font-family: cursive;
    color: cornflowerblue;
}

.start {
    text-align: center;
    font-size: 30;
}

.nav-button {
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 20px;
    margin: 1px;
    align-items: center;
    background-color: green;
    color: black;
}

.hide {
    display: none;
}
